<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<header th:fragment="navAfterLog">
        <nav class="navbar navbar-expand-lg bg-nav rounded">
            <a class="nav-link text-white active h5" sec:authorize="isAuthenticated()"
               href="/about">About us</a>

            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <a class="nav-link text-white active h5" sec:authorize="isAuthenticated()"
               th:href="@{/allAnimals/all}">All animals</a>

            <a class="nav-link text-white active h5" sec:authorize="hasRole('ROLE_ADMIN')"
               href="/roles/add">Change Role</a>

            <a class="nav-link text-white active h5" sec:authorize="hasRole('ROLE_ADMIN')"
               href="/animals/add">Add an animal</a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
                    aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse d-flex justify-content-end" id="navbarNav">


                <ul class="navbar-nav row">
                    <li sec:authorize="isAuthenticated()" class="nav-item">
                        <form th:action="@{/logout}" method="POST">
                            <button type="submit" class="nav-link">
                                <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-box-arrow-up-right" viewBox="0 0 16 16">
                                    <path fill-rule="evenodd" d="M8.636 3.5a.5.5 0 0 0-.5-.5H1.5A1.5 1.5 0 0 0 0 4.5v10A1.5 1.5 0 0 0 1.5 16h10a1.5 1.5 0 0 0 1.5-1.5V7.864a.5.5 0 0 0-1 0V14.5a.5.5 0 0 1-.5.5h-10a.5.5 0 0 1-.5-.5v-10a.5.5 0 0 1 .5-.5h6.636a.5.5 0 0 0 .5-.5z"/>
                                    <path fill-rule="evenodd" d="M16 .5a.5.5 0 0 0-.5-.5h-5a.5.5 0 0 0 0 1h3.793L6.146 9.146a.5.5 0 1 0 .708.708L15 1.707V5.5a.5.5 0 0 0 1 0v-5z"/>
                                </svg>
                            </button>
                        </form>
                    </li>
                </ul>
            </div>
        </nav>
</header>
</html>