<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head th:replace="fragments/commons :: head"></head>

<body>
<header th:replace="fragments/commons :: navigation"></header>
<header th:replace="fragments/afterLog :: navAfterLog"></header>
<main>
    <div class="container bg-transparent rounded mt-5 ">
        <hr class="my-3 bg-white w-50"/>
        <p class="h6" style="color: white">Four Paws Love is created in 2020 and is located in Sofia.</p>
        <p class="h6" style="color: white">Everyone is free to come to visit the animals and eventually to adopt one or more.</p>
        <p class="h6" style="color: red">The working time is:</p>
        <p class="h6" style="color: red">from Monday to Sunday - 8:00am - 21:00pm </p>
        <p class="h6" style="color: red">The address where you can find us is:</p>
        <p class="h6" style="color: red">Sofia, street "Sofia", 1000</p>
        <p class="h6" style="color: white">Your little new friend is waiting for you! :)</p>

        <hr class="my-3 bg-white w-75" />
    </div>
</main>
<footer th:replace="fragments/commons :: footer"></footer>
</body>
</html>