<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons :: head"></head>

<body>
<header th:replace="fragments/afterLog :: navAfterLog"></header>
<main>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-primary">Animals</span></h1>
    <h1 class="text-center mt-2"><span class="badge badge-pill badge-primary" th:text="|Total count of animals in the shooter: *{animals.size()}|" ></span></h1>
    <hr class="hr-3"/>
    <div class="container-fluid">
    <div th:each="a : ${animals}" th:object="${a}" class="offers row mx-auto d-flex flex-row justify-content-center">
        <img alt="image" th:src="*{photo}"
             class="img-thumbnail rounded">
        <div class="card-body">
            <h5 class="card-title text-white" th:text="*{name}"></h5>
            <p class="card-text text-white" th:text="*{description}"></p>
            <a href="#" class="btn btn-primary">Adopt :)</a>
        </div>
    </div>
    </div>

</main>
<footer th:replace="fragments/commons :: footer"></footer>
</body>
</html>