<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="fragments/commons :: head"></head>

<body>
<header th:replace="fragments/afterLog :: navAfterLog"></header>
<main>
    <h3 class="text-center mt-2" style="color: white"><span class="text-center"  th:text="|Welcome to our full list of the animals! The total count of animals in the shooter now is exactly: *{animals.size()}.|" ></span></h3>
    <h3 class="text-center mt-2" style="color: white"><span class="text-center" th:text="|Take a look and choose!|" ></span></h3>
    <h3 class="text-center mt-2" style="color: white"><span class="text-center" th:text="|If you decise you can come and visit us|" ></span></h3>

    <hr class="hr-3"/>
    <div class="container-fluid">
    <div th:each="a : ${animals}" th:object="${a}" class="offers row mx-auto d-flex flex-row justify-content-center">
        <img alt="image" th:src="*{photo}"
             class="img-thumbnail rounded">
        <div class="card-body">
            <h5 class="card-title text-white" th:text="*{name}"></h5>
            <p class="card-text text-white" th:text="*{description}"></p>
            <p class="card-text text-white" th:text="|Age: *{age} years|"></p>
            <a th:href="@{/allAnimals/adopt/(id = *{id})}" class="btn btn-primary">Adopt :)</a>
        </div>
    </div>
    </div>

</main>
<footer th:replace="fragments/commons :: footer"></footer>
</body>
</html>